@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Krub');

/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Mobile First */

body {
    /* min-height: 100vh; */
    font-family: 'Krub', sans-serif;
}


/* Header */

header aside {
    display: none;
}


/* To Do Icon List */

header nav {
    float: right;
    padding-right: 15px;
    margin-top: 5px;
}

header nav ul {
    display: none;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li:not(:last-of-type) {
    margin-right: 8px;
}

header nav ul li:before {
    content: "";
    background-image: url('../img/icon-ring.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.4;
    width: 25px;
    height: 25px;
    display: block;
}

header nav ul li:nth-of-type(2):before {
    background-image: url('../img/icon-weddingcake.png');
}

header nav ul li:nth-of-type(3):before {
    background-image: url('../img/icon-food.png');
}

header nav ul li:nth-of-type(4):before {
    background-image: url('../img/icon-clothes.png');
}

header nav ul li:nth-of-type(5):before {
    background-image: url('../img/icon-location.png');
}

header nav ul li:first-of-type:before {
    opacity: 1;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

header {
    border-bottom: 1px solid #CCC;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    z-index: 3;
    background-color: #fafafa;
}


/* Logo */

header>img {
    max-width: 160px;
    margin-top: 2px;
}


/* Layout Setup */

main {
    padding-top: 57px;
    /* height of header, because header is fixed and does not follow regular grid */
    padding-bottom: 55px;
    display: grid;
}

section#pie-chart {
    padding-top: 10px;
    background-color: white;
    border-bottom: none;
    float: left;
    height: 420px;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

section#pie-chart div {
    opacity: 0;
    animation: fadein .3s .3s forwards;
    transition: 0.2s ease-in-out;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

section#item-list {
    float: left;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

section#item-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

section#item-list ul li {
    display: block;
    width: 100%;
    background-color: #908d8d;
    border-radius: 28px;
    color: #FFF;
    padding: 10px 20px;
    position: relative;
}

section#item-list ul li+li {
    margin-top: 5px;
}

section#item-list ul li h3 {
    margin: 0;
    display: inline-block;
    width: 65%;
    /* float: left; */
    vertical-align: middle;
    font-weight: 300;
    font-size: 15px;
}

#item-list span.price {
    /* float: left; */
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 22%;
}

section#item-list ul li .item-actions {
    display: inline-block;
    text-indent: -9999px;
    position: absolute;
    top: 7px;
    right: 20px;
}

section#item-list ul li .item-actions:before {
    width: 25px;
    height: 25px;
    display: block;
    content: "";
    background-image: url('../img/item-close-icon.png');
    background-size: 100% auto;
    background-position: center center;
}

a.canvasjs-chart-credit {
    display: none;
}


/* To Do Navigation */


/* Frontpage */

section#countdown {
    background-color: #585858;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

main section.event-reminder {
    background-color: #908d8d;
    color: #ebebeb;
}

section#create-reminder {
    background-color: #FFF;
    padding-top: 35px;
    padding-bottom: 20px;
    text-align: center;
}

section#create-reminder a,
section#create-reminder a:hover,
section#create-reminder a:focus,
section#create-reminder a:active {
    color: #FFF;
    text-decoration: none;
    background-color: #908d8d;
    border-radius: 28px;
    padding: 10px 25px;
}

section.event-reminder {
    padding-top: 12px;
    padding-bottom: 12px;
    opacity: 1;
    animation-delay: 2s;
    transition: 0.3s ease-in-out;
    position: relative;
}

section.event-reminder.complete {
    opacity: 0.4;
    transition-delay: 1.5s;
}

section.event-reminder article {
    padding-left: 15px;
    padding-right: 15px;
    grid-column-gap: 15px;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
}

section.event-reminder article h2 {
    font-size: 18px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: left;
    /* text-align:  left; */
}

section.event-reminder article .event-date {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.event-reminder:after {
    content: "";
    width: 100%;
    background-color: #ebebeb;
    height: 1px;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
}

.checkmark {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #7ac142;
    opacity: 0.4;
    transition: 0.3s ease-in-out;
    margin: auto;
}

section.event-reminder.complete .checkmark {
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    opacity: 1;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
}

section.event-reminder.complete .checkmark__circle {
    animation: stroke .6s cubic-bezier(0.650, 0.000, 0.450, 1.000) forwards;
}

section.event-reminder.complete .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) .8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%,
    100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
}

#overlays:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}

#overlays.active:before {
    opacity: 1;
}

input#title-input,
input#date-input {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 28px;
    border: none;
    padding: 10px 15px;
    outline: none;
}

body.modal-active #create-reminders>* {
    pointer-events: none;
}

input#date-input {
    margin-bottom: 8px;
}

section#reminder-overlay {
    position: absolute;
    top: -50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    transition: 0.6s ease-in-out;
}

#overlays.active #reminder-overlay {
    top: 50%;
}

#reminder-overlay button {
    color: #FFF;
    text-decoration: none;
    background-color: tomato;
    border-radius: 28px;
    padding: 10px 25px;
    border: none;
    width: 100%;
}


/* Navigation */

footer nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 12px;
    border-top: 1px solid #CCC;
    background-color: #fafafa;
    z-index: 5;
}

footer nav ul {
    display: flex;
    justify-content: space-around;
}

footer nav ul li {
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    height: 27px;
}

footer nav ul li a {
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-size: 100% auto;
    display: block;
}

footer nav ul li a[href$="#"],
footer nav ul li a[href$="index.html"] {
    background-image: url('../img/home-icon.png');
}

footer nav ul li a[href$="search.html"] {
    background-image: url('../img/icon-people.png');
    height: 27px;
    width: 27px;
    margin-top: -2px;
}

footer nav ul li a[href$="explore.html"] {
    background-image: url('../img/explore-icon.png');
    height: 35px;
    width: 35px;
    margin-top: -8px;
}

footer nav ul li a[href$="person.html"] {
    background-image: url('../img/person-icon.png');
}

footer nav ul li a[href$="budget.html"] {
    background-image: url('../img/icon-budget.png');
}

#create-event {
    padding-top: 100px;
    padding-bottom: 100px;
}


/* Explore Page */

#explore {
    position: relative;
}

#explore form {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    text-align: center;
}

#explore form input {
    display: inline-block;
    border-radius: 28px;
    border: 0;
    box-shadow: none;
    border: 1px solid #CCC;
    padding: 8px 30px;
    width: 100%;
    background-image: url('../img/search-icon.png');
    background-size: 15px auto;
    background-position: center right 12px;
    background-repeat: no-repeat;
    outline: none;
}

#explore ul li {
    display: inline-block;
    width: 100%;
    background-color: #ebebeb;
    padding: 15px 18px;
    font-size: 16px;
    cursor: pointer;
}

#explore ul li img {
    max-width: 18px;
    height: auto;
    vertical-align: sub;
    margin-right: 12px;
}

#explore ul li+li {
    border-top: 1px solid #CCC;
}

#explore #browse {
    z-index: 0;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease-in-out;
    position: absolute;
    top: 0;
    background-color: white;
    height: 100%;
    width: 100%;
}

#explore.list-active #browse {
    opacity: 1;
    pointer-events: all;
}


/* Explore Item List */

#card-item-list {
    display: flex;
    flex-flow: column wrap;
    max-height: 700px;
    margin-left: -8px;
    /* Adjustment for the gutter */
    width: 100%;
    padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
}

.item-card {
    /* overflow: hidden; */
    border-radius: 4px;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin: 0 8px 8px 0;
    /* Some gutter */
    position: relative;
}

.item-card span.popular {
    background-color: tomato;
    display: inline-block;
    padding: 4px 7px;
    position: absolute;
    top: 24px;
    right: -17px;
    z-index: 13;
    transform: rotate(50deg);
    font-size: 11px;
    color: #FFF;
}

.item-card span.popular:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 22px 16px;
    border-color: transparent transparent tomato transparent;
    top: 0px;
    left: -15px;
    transform: rotate(-3deg);
}

.item-card span.popular:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 16px 22px;
    border-color: transparent transparent tomato transparent;
    bottom: 4px;
    right: -18px;
    transform: rotate(90deg);
}

.item-card .item-card-image {
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.item-card .item-card-image {
    background-color: #ebebeb;
    height: 170px;
    width: 100%;
    display: inline-block;
    float: left;
    width: 100%;
}

.item-card.extended .item-card-image {
    height: 250px;
}

.item-card .item-card-content {
    background-color: #FFF;
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
    border: 1px solid #CCC;
    border-top: 0;
    width: 100%;
    float: left;
}

.item-card .item-card-content h4 {
    font-size: 14px;
    font-weight: 300;
}

aside.product-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item-card .price {
    font-weight: bold;
    font-size: 15px;
}

.item-card .product-actions a.add-to-budget {
    height: 27px;
    width: 27px;
    background-color: #626b7a;
    border-radius: 100%;
    background-image: url('../img/basket-icon.png');
    background-repeat: no-repeat;
    background-size: 15px auto;
    background-position: center center;
    position: relative;
}

.item-card .byline {
    display: none;
    font-size: 11px;
    vertical-align: middle;
}

.item-card .item-social-media {
    display: none;
    transform: translate(0, -50%);
    position: absolute;
    transition: 0.3s ease-in-out;
    transition-delay: 0.5s;
}

.item-card .item-social-media img {
    max-width: 40px;
    height: auto;
    display: inline-block;
    border-radius: 100%;
    float: left;
}

.item-card .item-social-media h4 {
    display: inline-block;
    float: left;
    max-width: 70%;
    margin-left: 10px;
    font-weight: 300;
    font-size: 14px;
}

#single-item-view .item-social-media {
    display: block;
    right: 15px;
    background-color: #FFF;
    border-radius: 8px;
    animation: socialmedia 2.5s 0.5s ease-in-out forwards;
    bottom: -150%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 20px;
}

#single-item-view .item-social-media {
    background-image: url('../img/icon-facebook.png');
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position: center right 15px;
}

@keyframes socialmedia {
    0% {
        bottom: -150%;
    }
    50% {
        bottom: -150%;
    }
    100% {
        bottom: -140px;
    }
}

#single-item-view:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}

#single-item-view.active:before {
    opacity: 1;
}

#single-item-view .item-card {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 35%;
    z-index: 10;
    width: 78%;
}

#single-item-view .item-card .item-card-image {
    height: 300px;
}

#single-item-view .item-card .item-card-content {
    padding: 10px 8px 13px;
}

#single-item-view .item-card .item-card-content h4 {
    font-size: 18px;
}

.item-card .product-actions span {
    display: none;
}

#single-item-view .item-card .price {
    font-weight: bold;
    font-size: 18px;
}

.item-card .checkmark {
    width: 27px;
    height: 27px;
}

.item-card .added-to-budget .checkmark {
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    opacity: 1;
}

#single-item-view .item-card.extended .item-card-image {
    background-size: 330px auto;
}

#single-item-view .item-card .product-actions a.more-details {
    height: 30px;
    width: 112px;
    border-radius: 10px;
    color: #FFF;
    font-size: 11px;
    padding-left: 28px;
    line-height: 30px;
    text-decoration: none;
    background-color: tomato;
}

#single-item-view .item-card .added-to-budget {
    background-color: #7ac142;
}

#single-item-view .item-card .added-to-budget span {
    padding-left: 15px;
}

#single-item-view .item-card .checkmark {
    position: absolute;
    left: 5px;
}

#single-item-view .item-card .product-actions a.add-to-budget {
    height: 30px;
    width: 112px;
    background-size: 15px auto;
    background-position: center left 8px;
    border-radius: 10px;
    color: #FFF;
    text-decoration: none;
    font-size: 11px;
    padding-left: 28px;
    line-height: 30px;
    margin-bottom: 4px;
}

#single-item-view .item-card .byline {
    display: inline-block;
}

#close-reminder-overlay,
.close-single-view {
    position: absolute;
    z-index: 9;
    top: 80px;
    right: 25px;
    width: 30px;
    height: 30px;
    background-image: url('../img/explore/close-modal-icon.png');
    background-repeat: no-repeat;
    background-size: 15px auto;
    opacity: 0;
    pointer-events: none;
}

.item-card .item-card-additional {
    display: none;
}

#single-item-view .item-card-additional {
    padding: 10px;
    opacity: 0;
    position: absolute;
    top: -50%;
    transition: 0.6s ease-in-out;
    background-color: white;
    display: block;
    height: 300px;
    pointer-events: none;
    font-size: 12px;
}

#single-item-view .item-card-additional p {
    margin-bottom: 15px
}

#single-item-view .item-card.info-active .item-card-additional {
    top: 0;
    opacity: 1;
}

.item-card .more-details {
    display: none;
}

#single-item-view .item-card .more-details {
    display: inline-block;
}

#single-item-view .item-card .product-actions a span {
    display: inline;
}

#close-reminder-overlay {
    top: -50px;
    right: -30px;
}

body.modal-active #close-reminder-overlay,
body.modal-active .close-single-view {
    opacity: 1;
    pointer-events: all;
}

#profiles {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #ebebeb;
}

#profiles img {
    max-width: 100px;
    height: auto;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

#profiles img+img {
    margin-left: -30px;
    z-index: 1;
}

#profiles h3 {
    margin-top: 5px;
}

#profiles h4 {
    font-size: 12px;
}

#account-controls {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
}

#account-controls ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    text-align: center;
}

span.month {
    margin-left: 5px;
    display: inline-block;
}

#account-controls ul li {
    width: 100%;
    float: left;
}

#account-controls ul li+li {
    margin-top: 10px;
}

#account-controls a {
    color: #FFF;
    text-decoration: none;
    background-color: #908d8d;
    border-radius: 28px;
    padding: 10px 25px;
    display: inline-block;
    width: 100%;
}