/* Breakpoint for 1025px, det er der hvor iPad slutter og 
opløsning på den almindelig computerskærm starter */

@media screen and (min-width: 1025px) {
    header {
        text-align: center;
    }
    header nav {
        position: absolute;
        right: 0;
    }
    footer {
        position: fixed;
        top: 58px;
        background-color: #fafafa;
        width: 100%;
        height: 55px;
        border-bottom: 1px solid #CCC;
    }
    footer nav {
        max-width: 500px;
        bottom: auto;
        left: 50%;
        transform: translate(-50%, 0);
        border-top: none;
        position: absolute;
    }
    main {
        padding-top: 113px;
    }
    body.budget main {
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 30px;
        padding-top: 153px;
    }
    section#item-list ul li {
        max-width: 320px;
    }
    #account-controls a {
        max-width: 320px;
    }
    #category-list ul {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #ebebeb;
    }
    #explore form {
        max-width: 320px;
    }
    section#category-list {
        max-width: 1025px;
        margin-left: 15px;
    }
    #explore ul li+li {
        border-top: 0;
    }
    #explore ul li {
        border-bottom: 1px solid #CCC;
    }
    #card-item-list {
        padding-top: 130px;
        padding-left: 30px;
        padding-right: 30px;
        max-width: 1025px;
    }
    #explore {
        position: static;
    }
    #single-item-view .item-card {
        max-width: 520px;
        top: 50%;
    }
    #single-item-view .item-card .item-card-image {
        height: 550px;
    }
    #single-item-view .item-card.extended .item-card-image {
        background-size: auto 100%;
    }
    #overlays.active #reminder-overlay {
        max-width: 250px;
    }
}